
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg-info/
dist/
build/


venv/
.env/
.venv/


.ipynb_checkpoints/


.vscode/


logs/
*.log


data/raw/*
data/processed/*
data/interim/*
data/snapshots/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/interim/.gitkeep
!data/snapshots/.gitkeep


results/metrics/*
results/plots/*
results/logs/*

!results/metrics/.gitkeep
!results/plots/.gitkeep
!results/logs/.gitkeep


*.pkl
*.joblib
*.pt
*.pth


.DS_Store
Thumbs.db


*.tmp
*.swp